
.dashboard-title{
  color: #cdd9e5;
 
}

.dashboard-container{
  margin-left: 1%;
}

.repository-info{
  border-radius: 5px;
  border: 2px solid #57606A;
  color: #cdd9e5;
  padding: 1rem;
  min-width: 60%;
  max-width: 70%;
}

.repository-info a{
  color: #539bf5;
  font-size: 1.1rem;

}
.repository-info-container{
  overflow: auto;

}

.repository-info-sub-headings{
  color: #cdd9e5;
  font-size: 1.1rem;
  font-style: italic;
}
.repository-info span:hover{
  color: #539bf5;
  cursor: pointer;
  text-decoration: underline;

}
.repository-info a:hover{
  color: #539bf5;
  cursor: pointer;
  text-decoration: underline;
}

.repository-dates{
  color: #cdd9e5;
  font-size: 1.1rem;
  font-style: italic;
}

