
.dashboard-title{
  color: #cdd9e5;
  margin-bottom: 0.5rem;
 
}

.dashboard-container{
  margin-left: 1%;
  max-height: 80vh;
  overflow: auto;

}

.repository-info{
  border-radius: 5px;
  border: 2px solid #57606A;
  color: #cdd9e5;
  padding: 1rem;
  min-width: 60%;
  max-width: 70%;
}

.repository-info a{
  color: #539bf5;
  font-size: 1.1rem;

}
.repository-info-container{
  overflow: auto;

}

.repository-info-sub-headings{
  color: #cdd9e5;
  font-size: 1.1rem;
  font-style: italic;
}
.repository-info span:hover{
  color: #539bf5;
  cursor: pointer;
  text-decoration: underline;

}
.repository-info a:hover{
  color: #539bf5;
  cursor: pointer;
  text-decoration: underline;
}

.repository-dates{
  color: #cdd9e5;
  font-size: 1.1rem;
  font-style: italic;
}

.commit-container{
  margin-top: 1.5rem;
}

.commit-item-author{
  color: #cdd9e5;
  font-size: 15px;
}

.commit-item-headings{
  font-size: 1rem;
  color: #539bf5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.commit-item-headings:hover{
  color: #539bf5;
  cursor: pointer;
  text-decoration: underline;
}

.commit-item{
  width: 90%;
  height: auto;
  padding: 0.3rem 1rem 1rem 1rem ;
  margin-bottom: 1.5rem;
  border: 2px solid #57606A;
  border-radius: 5px;
}